/* 改变主题色变量 */
// $--font-path: "~element-plus/lib/theme-chalk/fonts"; /* 改变 icon 字体路径变量，必需 */

$--font-path: '~element-plus/lib/theme-chalk/fonts';
@import '~element-plus/theme-chalk/src/index.scss';

// $--color-primary-light-1: mix($--color-white, $--color-primary, 10%) !default; /* 53a8ff */
// $--color-primary-light-2: mix($--color-white, $--color-primary, 20%) !default; /* 66b1ff */
// $--color-primary-light-3: mix($--color-white, $--color-primary, 30%) !default; /* 79bbff */
// $--color-primary-light-4: mix($--color-white, $--color-primary, 40%) !default; /* 8cc5ff */
// $--color-primary-light-5: mix($--color-white, $--color-primary, 50%) !default; /* a0cfff */
// $--color-primary-light-6: mix($--color-white, $--color-primary, 60%) !default; /* b3d8ff */
// $--color-primary-light-7: mix($--color-white, $--color-primary, 70%) !default; /* c6e2ff */
// $--color-primary-light-8: mix($--color-white, $--color-primary, 80%) !default; /* d9ecff */
// $--color-primary-light-9: mix($--color-white, $--color-primary, 90%) !default; /* ecf5ff */

// $--color-success: #67c23a !default;
// $--color-warning: #e6a23c !default;
// $--color-danger: #f56c6c !default;
// $--color-info: #909399 !default;

// 字体主题色
$--color-primary: #c3473a;
$--color-normal: #4c4c4c;

// 背景主题色
$--bg-color-normal: #fff;

// 动画过渡时间
$--transition-duration: 0.3s;

// 操作条
$--bar-height: 80px;

